@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f1f1;
  --foreground: #141414;
  --muted-foreground: #acacac;
  --primary: #6258f0;
  --primary-foreground: white;
  --content: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--muted-foreground);
  border-radius: 16px;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mid-content {
  width: clamp(280px, 60vw, 630px);
}

@media screen and (max-width: 500px) {
  .mid-content {
    width: 100%;
  }
}
